@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

#root {
  background-color: white;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ),
  url(/world-map.png);
  max-width: 80%;
  margin: 0 auto;
  color: black;
}
